@import './modules/reset';
@import './modules/vars';

.topbar{
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 15px 30px;
  background-color: var(--box-bg-color);

  h1{
    font-family: 'Source Code Pro', monospace;
  }

  &::before {
    background: r;
  }
}

.splitted {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;

  textarea, #renderer {
    width: 100%;
    height: 100%;
    resize: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 30px;
    font-size: 1.1em;

    &:first-child {
      border-right: 1px solid var(--border-color) !important;
    }
  }
}

#renderer {
  h1 {
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--border-color);
  }

  h2 {
    font-size: 1.6em;
    font-weight: 500;
    margin-bottom: 8px;
  }

  h3 {
    font-size: 1.4em;
    font-weight: 400;
    margin-bottom: 6px;
  }

  p, h4, h5, h6 {
    font-size: 1.1em;
    font-weight: 300;
    margin-bottom: 5px;
  }

  .renderer-line {
    width: 100%;
  }

  .separating-line {
    width: 90%;
    margin: 0 auto;
    height: 1px solid var(--border-color);
  }
}